section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 1%;
    row-gap: 50px;

    height: 100svh;
}


.poster {
    width: -webkit-fill-available;
    height: 45vh;
    min-height: 309px;
    max-height: 235px;
    transition: 0.5s;
}

@media (max-width: 1024px) { 
    .info {
        display: none;
    }
    .displayInfo {
        height: 100px !important;
        width: 300px;
    }
}

@media (max-width: 320px) {
    section {
      flex-direction: column;
    }
}

.containerOfNews {
    height: 88svh;
    width: 100%;
    position: relative;
}

.containerOfNews .Banner {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.containerOfNews .Banner.here {
    opacity: 1 !important;
}
.containerOfNews .Banner.here > * {
    opacity: 1 !important;
}

.sticky-text-xD {
    position: fixed;
    left: 0;
    bottom: 0;
}