section.player {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    row-gap: 0;
    margin-top: 100svh;
}

div#playerFrame {
    transition: 0.5s ease-out;
    width: 65%;
    position: relative;
    height: fit-content;
}

.ost {
    position: absolute;
    top: 0;
}

.ost-data {
    font-size: 40px;
}

.continue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.video {
    border-radius: var(--border);
    width: 100%;
}

.controls {
    /* background: linear-gradient(0deg, rgba(50, 50, 65) 0%, rgba(0, 0, 0, 0) 100%); */
    display: flex;
    column-gap: 7px;
    row-gap: 7px;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    width: -moz-available;
}

#time {
    margin: 0;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 50px;
    background: #dddddd36;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px; 
    height: 9px; 
    background: #ffffff; 
    cursor: pointer; 
}

#sound {
    display: flex; 
    align-items: center; 
    column-gap: 7px; 
    margin: 0; 
    height: fit-content;
}
.soundImg {
    width: 25px;
}

#params {
    margin: 0;
    align-self: auto;
    margin-left: auto;
    width: 25px;
}
.fullscreen-icon {
    margin: 0 7px 0 0;
    width: 25px;
}

.play-icon {
    margin: 0 20px 0 20px;
    width: 25px;
}

.play:hover, #params:hover, #sound:hover, .progress:hover, .fullscreen-icon:hover {
    cursor: pointer;
}

progress.progress {
    margin-top: 12px;
}

ul {
    background-color: #00000038;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 11px 11px;
    font-size: 24px;
}

li:hover {cursor: pointer;}

input.slider {
    animation: sound 0.1s ease-in-out;
}

@keyframes sound {
    0% {
        width: 0px;
    }
    100% {
        width: 130px;
    }
}

.progress {
    margin: 0 5px 20px 5px;
}
.paramsMenu {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
    height: fit-content;
    padding: 9px;
    position: absolute;
    right: 1%;
    bottom: 100%;
    border-radius: var(--border);
    backdrop-filter: blur(5px);
}

.hiden {
    animation: opacity 1s ease-in;
    opacity: 0;
    display: none;
    cursor: none;
}

span.episodeName {
    font-size: 50px;
}

/* EPISODES LIST*/

li.episode {
    height: 30px;
    width: 25px;
    font-size: 50px;
    display: inline;
    margin: 0 5px 0 5px;
    padding: 0 15px 0 15px;
    border-radius: 5px;
}

li.episode:hover {
    background-color: var(--AccentColorTined);
}

ul.episodes {
    background-color: transparent;
    overflow-x: scroll;
    white-space:nowrap;
    width: 65%;
}

.selected {
    background-color: var(--AccentColor) !important;
}

.watched {
    background-color: var(--AccentColorSecond);
}