.indicatorOfNews {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  z-index: 5000;
}
.indicator {
  border-radius: 100px;
  background: rgb(255,255,255, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10px;
  width: 100px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
}
.in-progress {
  animation: load 2.5s ease;
  border-radius: 100px;
  background: white;
  height: 100%;
  width: 0;
  margin: 0;
}
.out-progress {
    height: 100%;
    width: 0;
    margin: 0;
}
@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}