:root {
  --BG: rgb(30, 30, 30);
  --BG2: rgb(89, 89, 89);
  --AccentColor: rgb(126, 126, 126);
  --AccentColorTined: rgb(47, 47, 47);
  --AccentColorTransparent: rgba(47, 47, 47, 0.796);
  --AccentColorSecond: rgb(47, 47, 47);
  --border: 12px;
  --textHalfTransp: rgb(255, 255, 255, 50%);
  --textProcentTransp: rgba(255, 255, 255, 0.02);
}
html {
  scroll-snap-type: y mandatory;
  transition: 1s;
}
body {
  background-color: var(--BG);
  color: white;
  font-family: "Gochi Hand";
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--BG2);
}

header > a:hover {
  color: var(--AccentColor) !important;
}

a, a:visited {
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: var(--border);
  background-size: cover;
  background-position: center;
  margin-bottom: 45px;
}

*::selection {
  background-color: var(--AccentColorSecond);
}

* {
  margin: 0.5vh auto;
}

l-zoomies {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}